body {
  margin: 0;
  font-family: 'Monsterrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width:10px;
  background-color: #171718;
}
::-webkit-scrollbar-thumb{
  background-color: #FF4656;
  border-radius: 50px;
}
